<connectionStrings>
  <add name="DefaultConnection" connectionString="Server=3c3b14c1-880f-4295-b35d-a5bc00f1f40a.sqlserver.sequelizer.com;Database=db3c3b14c1880f4295b35da5bc00f1f40a;User ID=tkcyvzqidjvojzvh;Password=GVT4pQ87Q3px5a53TXgYXJTrDMPuoVLrJdtiZTZeyhr6Ppxiz7WFX8A6bBxJaMR3;"
       providerName="System.Data.SqlClient" />
</connectionStrings>