@model IEnumerable<MoviesLibrary.Web.ViewModels.Movie.MovieViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>

@{

}

<div class="row">
    @foreach (var movie in Model)
    {
        <div class="col-md-3">
            <div>@movie.Title</div>
            <p>
                <img src="@Url.Action("GetImage", "Home", new { id = movie.Images.FirstOrDefault(i => i.IsCover).ViewId })" />
            </p>
            @foreach (var image in movie.Images)
            {
                if (!image.IsCover)
                {
                    <img src="@Url.Action("GetImage", "Home", new { id = image.ViewId }) class="img-responsive" />
                }
            }
        </div>
    }
</div>