@model MoviesLibrary.Web.ViewModels.Genres.GenresListViewModel

@{
    var genres = new List<SelectListItem>();

    genres.Add(new SelectListItem()
    {
        Text = "select genre",
        Value = null
    });

    for (int i = 0; i < Model.Genres.Count(); i++)
    {
        var item = new SelectListItem()
        {
            Text = Model.Genres[i],
            Value = i.ToString()
        };

        if (Model.Selected != null && Model.Selected == i)
        {
            item.Selected = true;
        }

        genres.Add(item);
    }
}

<div class="form-group">
    @Html.Label("Genre", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("GenreType", genres, new { @class = "form-control" })
    </div>
</div>
