body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url("../Images/movie-background-wallpaper.jpg")
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.img-responsive{
    max-width: 100%;
    height: auto;
    background-size:auto;
}

@media all and (min-height: 250px) {
    .img-responsive {
        height: 300px;
    }
}

@media all and (min-width: 250px) {
    .img-responsive {
        width: 300px;
    }
}

label{
    font-size: 1.4em;
}

.page-title{
    color: #DF691A;
}

.vote-icon{
    cursor: pointer;
}

.glyphicon-star{
    color: yellow;
}

#search-movie {
    padding: 50px;
    margin: 15px;
    text-align: center;
}
